<div class="d-flex flex-column h-100 position-relative">
    <div class="sc-area"  #scrollMe [scrollTop]="scrollMe.scrollHeight" style="height:350px;overflow-y:scroll;padding:0;">
      <ul class="d-flex list-unstyled flex-column">
        
        <li *ngFor="let message of _messageHistory" [ngClass]="message.sender === currentUser._id? 'b-me': 'b-o'"
            class="list-group-item mb-2">
          <app-message [message]="message" [currentUser]="currentUser" [otherUser]="otherUser"></app-message>
        </li>

        <li class="b-o" *ngIf="tFlag">Typing...</li> 
      
      
      </ul>
    </div>
  <br><br>
    <div>
      <div class="position-absolute w-100 bottom-0">
        <form class="form-group" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          
          
          <input type="text" class="form-control col-7" id="inlineFormInputGroupUsername2" formControlName="message"
                 placeholder="write a message..." autocomplete="off" #messageBox (ngModelChange)="handleTyping()">
          <button type="submit" class="btn btn-success col-3 ml-1 send">Send</button>
        </form>
      </div>
    </div>
  </div>
  <!-- (ngModelChange)="handleTyping()" -->